<!DOCTYPE html>
<html>
    <head>
        <title>Login - Foodfy</title>
        {% include "parts/styles.njk" %}

    </head>

    <body>
        {% include "parts/messages.njk" %}
        <div id="header-login">
            <a href="/main/index"><img src="/logo.png" alt="Logo"></a>
        </div>

     

        <main>
            {% block content %}{% endblock %}
        </main>

        <script src="/script.js"></script>
    </body>

</html>